/*#house {
    width : 30%;

}*/
html{
    background-color: #d4d1d1;
}
body{
    display: grid;
    background-color: #d4d1d1;
    grid-template-areas:
    "head head head"
    "main main main"
    "foot foot foot";
}

header{
    grid-area: head;
    background-color: #d4d1d1;
}
/*nav{
    grid-area: nav;
}*/
main{
    grid-area: main;
    background-color: #d4d1d1;
}
footer{
    grid-area: foot;
    background-color: #d4d1d1;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: space-around;
    align-items: left;
    align-content: center;
}
.house{
    width: fit-content;
    grid-row: span 2;
    background-color: white;
}

.tables{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-template-rows: repeat(2,3fr);
    /*width: fit-content;*/
    justify-content: space-around;
    background-color: #d4d1d1;
}


table, th, td {
    border: 1px solid black;
    background-color: white;
}
th, td{
    width: 60px;
}
th{
    background-color: whitesmoke;
}